CoverageReport
BookStore.Tests/TestResults
TestResults

BookStore.Application/bin
BookStore.Application/obj

BookStore.Domain/bin
BookStore.Domain/obj

BookStore.Infrastructure/bin
BookStore.Infrastructure/obj

BookStore.Infrastructure.IoC/bin
BookStore.Infrastructure.IoC/obj

BookStore.Shared/bin
BookStore.Shared/obj

BookStore.Tests/bin
BookStore.Tests/obj

BookStore.WebAPI/bin
BookStore.WebAPI/obj
BookStore.WebAPI/BookStore.db


